@font-face {
    font-family: Cera-Pro-Regular;
    src: url('../fonts/CeraPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cera-Pro-Medium;
    src: url('../fonts/CeraPro-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cera-Pro-Bold;
    src: url('../fonts/CeraPro-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.cover {
    padding: 30px 120px 52px;
}

.header {
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 12px;
}

.header > .logo {
    padding-bottom: 17px;
    cursor: pointer;
}

.header > button {
    margin-bottom: 17px !important;
}

.header > .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 8px;
}

.header > .nav > li {
    font-family: Cera-Pro-Regular;
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-size: 16px;
    padding-bottom: 20px;
    cursor: pointer;
}

.header > .nav > li.active {
    font-family: Cera-Pro-Bold;
    border-color: #46A358;
}

.dropdown {
    position: relative;
}

.list {
    position: absolute;
    left: 0;
    top: 56px;
    width: 188px;
    background: #EDF6EE;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .list {
    opacity: 1;
    visibility: visible;
}

.list-item {
    padding: 8px 12px;
    white-space: nowrap;
    display: block;
    position: relative;
}

.item-with-icon {
    display: flex;
    align-items: center;
}

.sub-list {
    position: absolute;
    top: 0;
    left: 190px; 
    width: 178px;
    top: -108px;
    background: #EDF6EE;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none; 
    z-index: 1;
}


.sub-list-item {
    padding: 8px 12px;
    white-space: nowrap;
    display: block;
}

.item-with-icon:hover + .sub-list, 
.list-item:hover .sub-list {
    display: block;
}

.list-item:hover {
    background: rgba(26, 113, 42, 1); 
}

.list-item:hover a {
    font-family: Cera-Pro-Bold;
    color:  rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.item-with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-with-icon:hover img {
    content: url('../img/Icon-white.svg'); 
}

.sub-list-item a {
    color: #3D3D3D !important;
    font-family: Cera-Pro-Regular !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal;
    display: block;
}

.list-item a {
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}

.header > .login {
    border: none;
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 7px 17px;
    font-family: Cera-Pro-Medium;
    cursor: pointer;
}

.main {
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
}

.main > .ctaContainer {
    display: flex;
    flex-direction: column;
    gap: 44px;
    justify-content: start;
    padding: 68px 0px 85px 45px;
}

.main > .ctaContainer > .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;
}

.main > .ctaContainer > .textContainer > h1 {
    font-family: Cera-Pro-Bold;
    font-size: 70px;
    color: #3D3D3D;
    line-height: 70px;
    text-transform: uppercase;
    width: 90%;
}

.main > .ctaContainer > .textContainer > h1 > .colored {
    color: #46A358;
}

.main > .ctaContainer > .textContainer > h5 {
    color: #3D3D3D;
    font-family: Cera-Pro-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.main > .ctaContainer > .textContainer > h6 {
    color: #727272;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
    width: 86%;
}

.main > .ctaContainer > .ctaButton {
    color: #FFF;
    border-radius: 6px;
    border: none;
    background: #46A358;
    font-family: Cera-Pro-Bold;
    font-size: 16px;
    font-style: normal;
    line-height: 20px; 
    text-transform: uppercase;
    padding: 10px 26px;
    max-width: 140px;
    cursor: pointer;
}

.main > .imgContainer {
    background-image: url('../img/flower_big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 500px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}

.main > .imgContainer > img {
    max-width: 135px;
    max-height: 135px;
    
}

.shop {
    display: flex;
    padding: 172px 120px 80px 132px;
}

.bar > .category-menu {
    min-width: 310px;
    width: 310px;
    height: 774px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 14px 18px;
}

.bar > .category-menu > h2 {
    font-family: Cera-Pro-Bold;
    font-size: 18px;
    color: #3D3D3D ;
}

.category-menu > ul {
    margin: 16px 0px 0px 12px;
}

.category-menu > ul > li > a {
    font-family: Cera-Pro-Regular;
    font-size: 15px;
    color: #3D3D3D ;
    display: flex;
    margin-bottom: 20px;
}

.category-menu > ul > li.active > a {
    font-family: Cera-Pro-Bold;
    color: #46A358;
}

.bar > .image {
    width: 310px;
    height: auto;

}

.catalog {
    margin-left: 52px;
}

.tabs {
    display: flex;
    margin-bottom: 32px;
    gap: 40px;
    max-height: 23px;
}
    
.tab {
    font-family: Cera-Pro-Regular;
    color: #3D3D3D;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 25px;
}
    
.tab.active {
    font-family: Cera-Pro-Bold;
    color: #46A358;
    border-color: #46A358; 
}

.sort-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.sort-menu > .sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Cera-Pro-Regular;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 8px;
}

.product-cards-shop {
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px; 
    column-gap: 32px;
    justify-content: flex-start; 
}

.product-card-shop {
    width: 258px; 
    height: 350px;
    text-align: left;
    cursor: pointer;
    border: 1px solid transparent; 
    transition: border 0.3s ease;
    position: relative
}

.product-card-shop:hover {
    border-top: 1px solid #46A358;
}

.sale-label {
    position: absolute;
    top: -10px;
    left: -4px;

    background-color: #46a358;
    color: white;

    font-weight: bold;
    font-size: 14px;

    z-index: 2;
    width: 80px;
    height: 28px;
    color: #FFF;
    font-family: "Cera-Pro-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-shop img {
    width: 258px;
    height: 300px;
    object-fit: scale-down;
    background: #fbfbfb !important;
    position: relative;
}

.card-image {
    overflow: hidden; 
    position: relative; 
    display: flex;
    justify-content: center;
}

.icons {
    position: absolute;
    bottom: 14px;
    display: flex;
    gap: 26px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .product-card-shop:hover .icons {
    opacity: 1;
  }

    
.product-card-shop h3 {
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-top: 12px;
}
    
.product-card-shop .price {
    color: #46A358;
    font-family: Cera-Pro-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    margin-top: 6px;
    display: flex;
}

.salepr {
    display: flex;
    gap: 16px;
    max-height: 16px;
}

.sale {
    color: #A5A5A5;
    font-family: "Cera-Pro-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    text-decoration: line-through;
    margin-top: 6px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 92px;
    gap: 10px;
}

.pagination button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; 
}

.pagination button.active {
    font-family: Cera-Pro-Medium;
    color: #fff;
    background-color: #46A358;
}

.infoblock {
    display: flex;
    flex-direction: column;
    padding: 72px 120px 72px 120px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-bottom: 140px;
    flex-wrap: wrap;
}

.product-card {
    width: 586px;
    height: 302px;
    display: flex;
}

.product-card img {
    width: 287px;
    height: 292px;
    object-fit: scale-down;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 48px;
}

.product-card h3 {
    color: #3D3D3D;
    text-align: right;
    font-family: Cera-Pro-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; 
    text-transform: uppercase;
    padding-bottom: 8px;
    max-width: 152px;
}

.product-card p {
    color: #727272;
    text-align: right;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 24px;
}

.find-more-btn {
    border-radius: 6px;
    background: #46A358;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 140px;
    height: 40px;
}

.find-more-btn .icon {
    width: 16px;
    height: 16px;
}

.find-more-btn span {
    color: #FFF;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.blog h2 {
    color: #3D3D3D;
    text-align: center;
    font-family: Cera-Pro-Regular;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    padding-bottom: 16px;
}

.blog p {
    color: #727272;
    text-align: center;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 36px;
}

.blog-cards {
    display: flex;
    flex-direction: row;
    gap: 44px;
    flex-wrap: wrap;
}

.blog-card {
    width: 268px;
    height: 362px;
}

.blog-card img {
    object-fit: cover;
}

.blog-card .blog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 16px 12px;
}

.blog-card .blog-date {
    color: #46A358;
    font-family: Cera-Pro-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 4px;
    padding-top: 8px;
}

.blog-card h3 {
    color: #3D3D3D;
    font-family: Cera-Pro-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 4px;
}

.blog-card .discription {
    color: #727272;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: 22px; 
    padding-bottom: 8px;
}

.blog-card a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.blog-card a span {
    color: #3D3D3D;
    font-family: Cera-Pro-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.footer-section {
    padding: 100px 120px 0px 120px;
}

.footer-email {
    display: flex;
    background: #FBFBFB;
    padding: 32px 0px 32px 0px;
}

@media (max-width: 1380px) {
    .footer-email {
        flex-wrap: wrap; 
    }
}

.footer-card {
    min-width: 260px;
    max-width: 320px;
    padding: 0px 24px;
}

.footer-action {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

@media (max-width: 1380px) {
    .footer-action {
        padding-top: 40px;
    }
}

.footer-action h2 {
    color: #3D3D3D;
    font-family: Cera-Pro-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    padding-bottom: 18px;
}

.footer-action span {
    color: #727272;
    font-family: Cera-Pro-Regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 18px;
}

.footer-email-input {
    display: flex;
    justify-content: space-between;

}

.email-input {
    color: #ACACAC;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    padding: 12px 12px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    flex: 1;
}

.email-button {
    color: #FFF;
    font-family: Cera-Pro-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    border-radius: 0px 6px 6px 0px;
    background: #46A358;
    width: 84px;
    height: 40px;
    padding: 12px 0px;
}

.footer-card img {
    padding-bottom: 16px;
}

.footer-card h3 {
    color: #3D3D3D;
    font-family: Cera-Pro-Bold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    padding-bottom: 8px;
}

.footer-card span {
    color: #727272;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /
}

.footer-logo a img {
    margin: 20px 0px;

}

.footer-contacts {
    min-height: 88px;
    background: rgba(70, 163, 88, 0.10);
    border-style: solid;
    border-width: 1px 0; 
    border-color: rgba(70, 163, 88, 0.10);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 24px;
    padding-right: 120px;
    column-gap: 80px;
}

.contact {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 20px 0px;
}

.contact img {
    height: 20px;
    width: 20px;
}

.contact span {
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.footer-menu {
    background: #FBFBFB;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 32px 120px 28px 24px;
}

.footer-input {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    gap: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-input h2 {
    color: #3D3D3D;
    font-family: Cera-Pro-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
}

.footer-input ul li a {
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.inputs {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.footer-input img {
    padding-top: 12px;
    object-fit: scale-down;
}

.social-icons {
    display: flex;
    gap: 10px; 
    margin-top: 20px;
}

.social-icons div {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 56%; 
}

.social-icons .facebook {
    background-image: url('../img/Facebook.svg');
}

.social-icons .instagram {
    background-image: url('../img/Instagram.svg');
}

.social-icons .twitter {
    background-image: url('../img/Twitter.svg');
}

.social-icons .linkedin {
    background-image: url('../img/Linkedin.svg');
}

.social-icons .youtube {
    background-image: url('../img/Youtube.svg');
}



.footer-rights {
    display: flex;
    border-top: 1px solid rgba(70, 163, 88, 0.20);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-position: 50%;
    background-size: 100%;
    align-items: center;
}

.rights {
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 7px 0px 12px 0px;
}