@font-face {
    font-family: Cera-Pro-Regular;
    src: url('../fonts/CeraPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cera-Pro-Medium;
    src: url('../fonts/CeraPro-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cera-Pro-Bold;
    src: url('../fonts/CeraPro-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    }

.container {
    display: flex;
    padding: 172px 0px 80px 132px;
}

.bar > .category-menu {
    min-width: 310px;
    width: 310px;
    height: 774px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 14px 18px;
}

.bar > .category-menu > h2 {
    font-family: Cera-Pro-Bold;
    font-size: 18px;
    color: #3D3D3D ;
}

.category-menu > ul {
    margin: 16px 0px 0px 12px;
}

.category-menu > ul > li > a {
    font-family: Cera-Pro-Regular;
    font-size: 15px;
    color: #3D3D3D ;
    display: flex;
    margin-bottom: 20px;
}

.category-menu > ul > li.active > a {
    font-family: Cera-Pro-Bold;
    color: #46A358;
}

.bar > .image {
    width: 310px;
    height: auto;

}

.catalog {
    margin-left: 52px;
    max-width: 840px;
}

.tabs {
    display: flex;
    margin-bottom: 32px;
    gap: 40px;
    max-height: 23px;
}
    
.tab {
    font-family: Cera-Pro-Regular;
    color: #3D3D3D;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 25px;
}
    
.tab.active {
    font-family: Cera-Pro-Bold;
    color: #46A358;
    border-color: #46A358; 
}

.sort-menu{
    max-width: 840px;
    display: flex;
justify-content: space-between;
flex-direction: row;
align-items: flex-start;
}

.sort-menu > .sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Cera-Pro-Regular;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 8px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px; 
    column-gap: 32px;
    justify-content: flex-start; 
}

.product-card {
    width: 258px; 
    height: 350px;
    text-align: left;
    cursor: pointer;
}

.product-card img {
    width: 258px;
    height: 300px;
    object-fit: scale-down;
    background: #fbfbfb !important;
}
    
.product-card h3 {
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-top: 12px;
}
    
.product-card .price {
    color: #46A358;
    font-family: Cera-Pro-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    margin-top: 6px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 92px;
    gap: 10px;
}

.pagination button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    color: #3D3D3D;
    font-family: Cera-Pro-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; 
}

.pagination button.active {
    font-family: Cera-Pro-Medium;
    color: #fff;
    background-color: #46A358;
}